.thumbs-wrapper.axis-vertical {
    display:none;
}

h2 {
    text-align:center;
    color: #edc62b;
    font-size: 40px;
}

.contentAboutUsContainer{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.textAboutUs{
    width: 450px;
    padding-right: 5%;
    font-size: 20px;
    line-height: 30px;
}

.videoAboutUs {
    padding-top:4%;
}

.slide {
    width: 500px;
    height: 450px;
    
}

.homeContainer {
    padding-top:70px;
}

@media (max-width: 400px) {
    .slide {
        width: 300px;
        height: 300px;
        
    }

    h2 {
        font-size: 30px;
    }

    .textAboutUs {
        width: 85%;
    }
}