.headerContainer {
    display: flex;
    padding-top:1%;
    justify-content: space-between;
    position: fixed;
    z-index:10000;
    background-color:white;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);
    width: 100%;
}

.logoContainer {
    width: 15%;
    height: 20%;
    padding-left:2%;
}

.logo {
    width: 70%;
}

.buyCTAContainer {
    padding-right: 5%;
    padding-top: 1%;
    width: 180px;
}

.buyCTA {
    width: 300px;
    height: 35px;
    color:white!important;
    background-color: #edc62b;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding-left:12%;
    padding-right:12%;
    padding-top:5%;
    padding-bottom:5%;
    text-decoration:none;
}

.buyCTA:hover {
    width: 180px;
    height: 35px;
    color:white;
    background-color: #edc62b;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    cursor: pointer;
}

.headerElementContainer {
    display: flex;
    justify-content: space-between;
    width: 321px;
    padding-left: 30%;
    padding-top: 1%;
    font-size: 20px;
}

a:link {
    color: #edc62b;
    text-decoration: none;
}

a.headerElement:visited {
    color: black;
    text-decoration: none;
}

a.headerElement:hover {
    color: #edc62b;
    text-decoration: none;
}